# User Constraint File for BlackIce OPC6

# Onboard 100MHz oscillator
set_io clk100 129

# LEDs (active high)
set_io led1     71
set_io led2     67
set_io led3     68
set_io led4     70

# Switches
set_io sw1_2    37 # DIG19
set_io sw1_1    38 # DIG18
set_io sw2_2    39 # DIG17
set_io sw2_1    41 # DIG16
set_io sw3      63 # B1 (active low)
set_io sw4      64 # B2 (active low)

# Cassette / Sound
set_io cas_in   21 # PMOD43 PMOD 11/12 pin 5
set_io cas_out  22 # PMOD42 PMOD 11/12 pin 7
set_io sound    33 # PMOD41 PMOD 11/12 pin 9

# Keyboard
set_io ps2_clk  25 # PMOD47 = PMOD 11/12 pin 6
set_io ps2_data 26 # PMOD46 = PMOD 11/12 pin 8

# VGA Output
set_io r[2]     10 # PMOD24 = PMOD 7/8 pin 11
set_io r[1]      9 # PMOD25 = PMOD 7/8 pin  9
set_io r[0]      2 # PMOD26 = PMOD 7/8 pin  7

set_io g[2]      8 # PMOD28 = PMOD 7/8 pin 12
set_io g[1]      7 # PMOD29 = PMOD 7/8 pin 10
set_io g[0]      4 # PMOD30 = PMOD 7/8 pin  8

set_io b[1]     20 # PMOD32 = PMOD 9/10 pin 11
set_io b[0]     19 # PMOD33 = PMOD 9/10 pin  9
set_io hsync    16 # PMOD34 = PMOD 9/10 pin  7
set_io vsync    15 # PMOD45 = PMOD 9/10 pin  5

# PMOD UART connections
#set_io txd   97 # P11 (i_tx) - Pmod 3/4 pin 5 (top row)
#set_io rxd   96 # P15 (i_rx) - Pmod 3/4 pin 6 (bottom row)

# USB UART / Pi Connector
#
# From the schematic it looks like:
#
# Pin 2 of the CH340G (TxD output) is connected to
# - Pin 8 of the Pi Header (TxD0 output)
# - STM32F103RET6 pin 43 (PA10)
# - net is called RX
# - and also via a resistor to PMOD P2, FPGA Pin 88
#
# Pin 3 of the CH340G (RxD input) is connected to
# - Pin 10 of the Pi Header (RxD0 input)
# - STM32F103RET6 pin 42 (PA9)
# - net is called TX
# - and also via a resistor to PMOD P3, FPGA Pin 85
#
# NOTE: It appears the conenections to the Pi Header are swapped (i.e. Pi output to USB UART output)
#set_io txd  85
#set_io rxd  88

# SRAM
set_io ADR[0] 137
set_io ADR[1] 138
set_io ADR[2] 139
set_io ADR[3] 141
set_io ADR[4] 142
set_io ADR[5] 42
set_io ADR[6] 43
set_io ADR[7] 44
set_io ADR[8] 73
set_io ADR[9] 74
set_io ADR[10] 75
set_io ADR[11] 76
set_io ADR[12] 115
set_io ADR[13] 116
set_io ADR[14] 117
set_io ADR[15] 118
set_io ADR[16] 119
set_io ADR[17] 78
#set_io ADR[18] 62

set_io DAT[0] 135
set_io DAT[1] 134
set_io DAT[2] 130
set_io DAT[3] 128
set_io DAT[4] 125
set_io DAT[5] 124
set_io DAT[6] 122
set_io DAT[7] 121
#set_io DAT[8] 61
#set_io DAT[9] 60
#set_io DAT[10] 56
#set_io DAT[11] 55
#set_io DAT[12] 52
#set_io DAT[13] 49
#set_io DAT[14] 48
#set_io DAT[15] 47

set_io RAMOE_b 45
set_io RAMWE_b 120
set_io RAMCS_b 136
