*~
#*
not_in_git/
# IceStorm files
atom.bin
atom.blif
atom.log
atom.txt
# Simulation files
dump.vcd
a.out
roms/bran/bran.lst
roms/bran/bran.rom
target/blackice/iceboot/output/
target/blackice/iceboot/icebootatom.raw
xilinx/
